body {
    background-color: rgb(48, 48, 48);
    color: rgb(220, 220, 220);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3 { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 3rem;
}
#sides {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#encounterdiff {
    text-align: center;
}
#bestiary {
    background-color: rgb(112, 7, 7);
    padding: 20px;
    float: right;
    height: 40rem;
    box-shadow: -5px 5px 5px rgb(32, 32, 32);
}
#monsters {
    margin-top: 10px;
    background-color: rgb(48, 48, 48);
    overflow-y: scroll;
    height: 30rem;
}
#combatMonsters {
    border-left: 2px solid rgb(220, 220, 220);
    padding-left: 20px;
    height: 20rem;
    overflow: auto;
}
#party {
    margin: 20%;
}
.combatantBlock {
    background-color: gray;
    width: 20rem;
    padding: 4px;
    margin: 3px;
}
.monstercr {
    text-align: right;
}
select {
    background-color: gray;
    color:rgb(220, 220, 220);
}
input {
    background-color: gray;
    color:rgb(220, 220, 220);
    margin: 10px;
}
button {
    background-color: gray;
    color:rgb(220, 220, 220);
}
#searchresults {
    font-style: italic;
}
footer {
    padding-top: 3rem;
}
p {
    margin: 30px 20%;
}
a:link {
    color: rgb(112, 7, 7);
}
a:visited {
    color: rgb(112, 7, 7);
}
a:focus {
    color: rgb(143, 10, 10);
}
a:hover {
    color: rgb(143, 10, 10);
}
a:active {
    color: rgb(196, 21, 21);
}
